
<div class="mainApp container-fluid">
  <div class="module">
    <lib-vcog2d
      style = "height: 100%"
      [v] = "v"
      [zoomLevel] = "zoom"
      [objectToZoom] = "objectToZoom"
      [version] = "version"
      [hostRoomsWithNegativeFB] = "hostRoomsWithNegativeFB"
      [paramToShow] = "paramToShow"
      [hostRooms] = "hostRooms"
      [hostBlinds] = "hostBlinds"
      [mode] = "mode"
      [wsChanges] = "wsChanges"
      [apiKey] = "apiKey"
      [tozoom] = "center" 
      [floor]="floor" 
      [objectToHighlight] = "objectToHighlight"
      [blindSuccessObj] = "blindSuccessObj" 
      [position] = "position"
      (onChangedBlinds) = 'getBlindInfo($event)'      
      (onChanged) = 'getCurrentCell($event)'>
    </lib-vcog2d>
  </div>
</div>


