.mainApp > *{
  color: white;
  background: #000;
}

.mainApp {
  max-width: 950px;
  color: white;
  background: #000;
  margin-top: 10px;
}

.module {
  margin: auto;
  width: 100%;
  width: 125%;
  transform: translate(-13%);
}

.floorTitle {
  font-size: 50px;
  text-align: center;
  margin-top: 10px;
}

@media only screen and (min-width: 640px) {
  .module {
    width: 100%;
    transform: none;
  }
}