.mainApp > *{
  color: white;
  background: #000;
}

.mainApp {
  max-width: 950px;
  color: white;
  background: #000;
  margin-top: 10px;
}

.module {
  margin: auto;
}

.floorTitle {
  font-size: 50px;
  text-align: center;
  margin-top: 10px;
}
